<form [formGroup]="InstructorForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="name">Name</label>
        <input id="name" formControlName="name" />
        <div *ngIf="InstructorForm.get('name')?.invalid && InstructorForm.get('name')?.touched">
            <p style="color: brown;">Name is required and must be at least 3 characters</p>
        </div>
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" />
        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
            <div *ngIf="email?.errors?.['required']">
                <p style="color: brown;">Email is required.</p>
            </div>
            <div *ngIf="email?.errors?.['email']">
                <p style="color: brown;">Invalid email format</p>
            </div>
        </div>
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" />
    </div>
    <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
        <div *ngIf="password?.errors?.['required']">
            <p style="color: brown;">Password is required.</p>
        </div>
        <div *ngIf="password?.errors?.['minlength']">
            <p style="color: brown;">Password must be at least 6 characters long.</p>
        </div>
    </div>
    <div>
        <label for="address">Address</label>
        <input id="address" formControlName="address" />
        <div *ngIf="address?.invalid && address?.touched">
            <p style="color: brown;">Address is required and must be at least 10 characters</p>
        </div>
    </div>
    <div>
        <label for="phone">Phone</label>
        <input id="phone" formControlName="phone" />
        <div *ngIf="phone?.invalid && phone?.touched">
            <p style="color: brown;">Phone is required and must be a valid 10-digit number</p>
        </div>
    </div>
    <div>
        <label for="gender">Gender</label>
        <select name="gender" id="gender" formControlName = gender>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            </select>
    </div>
    <div>
        <label for="age">Age</label>
        <input id="age" type="number" formControlName="age" />
        <div *ngIf="age?.invalid && age?.touched">
            <p style="color: brown;">Age is required and must be between 18 and 100</p>
        </div>
    </div>

    <button type="submit" style="margin-top: 10px; background-color: #0066cc; text-align: center; width: 100%;">Add</button>
</form>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Gender</th>
            <th>Age</th>
            <th style="text-align: center;">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let instructor of instructors">
            <td>{{ instructor.name }}</td>
            <td>{{ instructor.email }}</td>
            <td>{{ instructor.password }}</td>
            <td>{{ instructor.address }}</td>
            <td>{{ instructor.phone }}</td>
            <td>{{instructor.gender}}</td>
            <td>{{ instructor.age }}</td>
            <td class="actions" style="text-align: center;">
                <button (click)="Update(instructor.id)">Update</button>
                <button (click)="Delete(instructor.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
